.songList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
  color: var(--color-bright);
}

.songList__title,
.songList__artist {
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--color-inactive);
}

.songList__title {
  padding-top: 1rem;
  font-weight: 700;
  font-size: 1rem;
}

.songList__artist {
  padding-bottom: 1rem;
  color: var(--color-accent);
  font-size: 0.75rem;
}

/* WHERE IS THIS ELEMENT? */
.songList__boxes {
  border-radius: 5rem;
}
