.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1.25rem;
  place-items: center;
  border-radius: 1rem;
  border: 0.1rem solid;
  background-color: var(--color-text);
  color: var(--color-primary);
  padding: 2.5rem;
}

.form__title {
  grid-column: 1/3;
  color: var(--color-bright);
  text-align: center;
}

.form__text {
  grid-row: 2/3;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: solid 0.1rem var(--color-bright);
  background-color: var(--color-text);
  color: var(--color-bright);
  padding: 0.5rem 0;
}

.form__text::placeholder {
  color: var(--color-bright);
}

.form__submit {
  grid-row: 3/4;
  grid-column: 1/3;
  color: var(--color-text);
  background-color: var(--color-primary);
  border: none;
  border-radius: 1.25rem;
  padding: 0.75rem 2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.form__showSongs {
  grid-row: 6/7;
  grid-column: 1/3;
  color: var(--color-text);
  background-color: var(--color-accent);
  border: none;
  border-radius: 1.25rem;
  padding: 0.75rem 2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
