.backgroundImage {
  width: 100vw;
  height: 100vh;
  background-image: url('../lib/imgs/photo-1511180427842-5878e7a53e2c.jpg');
  background-color: var(--color-background);
  background-size: cover;
  background-repeat: repeat;
}

.container {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-content: center;
  gap: 3rem;
}
