.backgroundImage {
  /* width: 100vw;
  height: 100vh; */
  background-image: url('../lib/imgs/photo-1511180427842-5878e7a53e2c.jpg');
  background-color: var(--color-background);
  background-size: cover;
  background-repeat: repeat;
}

.container {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;
  padding: 30px;
  background-color: var(--color-background);
}
