@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #cdf564;
  --color-secondary: #4b917d;
  --color-accent: #f037a5;
  --color-bright: rgb(246 247 247);
  --color-neutral: #bdbdbd;
  --color-text: #0e0e0e;
  --color-inactive: #414141;
  --color-background: #000;

  /* FONT */
  --font-primary: 'DM Sans', sans-serif;
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: 'DM Sans', sans-serif;
}

body {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
