.form {
  display: grid;
  background-color: var(--color-background);
  color: var(--color-primary);
  border-radius: 1rem;
  padding: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
  place-items: center;
}

.form__selector {
  grid-column: 1/3;
  grid-row: 2/3;
  background: var(--color-neutral);
  padding: 0.5rem;
}

.form__text {
  grid-row: 3/4;
  border: none;
  padding: 0.5rem 1.5rem;
}

.form__submit {
  grid-row: 4/5;
  grid-column: 1/3;
  color: var(--color-background);
  background-color: var(--color-primary);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.625rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
